h1 {
    color: rgb(92, 0, 92);
}
h2 {
    font-family: 'Roboto Condensed', sans-serif;
}
menuitem {
    color:  rgb(92, 0, 92);
    font-size: large;
}
menu {
    font-family: 'Roboto Condensed', sans-serif;
}
html {
    background-color: rgb(241, 206, 241);
}
ul {
    font-family: 'Roboto Condensed', sans-serif;
}
.source {
    font-style: italic;
}